@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center text-primary">
    <h1 class="display-4 pt-4">Welcome</h1>
    <h4>Library Information System - LibraryIS</h4>
</div>

<br />
<br />
<br />

<div class="text-center">
    <img src="~/images/logo.jpeg" class="img-thumbnail" width="600" alt="Responsive image">
</div>
