@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <div class="col-6 py-4">
        <h2 class="text-primary">Contact us</h2>
        <email address="contact@libraryis.com" content="Email"></email>
    </div>

    <div class="py-4">
        @*    <h2 class="text-primary">Our location</h2> *@
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.6745843242225!2d20.402552015410627!3d44.848560082331076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a65b17b627421%3A0x6d6130bffc362462!2sITAcademy!5e0!3m2!1ssr!2srs!4v1657913326983!5m2!1ssr!2srs" width="800" height="450" style="border:solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>




